<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.beanpodtech.pkms.dbadapter.dao.keyimport.DeviceKeyMapper" >
  <resultMap id="BaseResultMap" type="com.beanpodtech.pkms.common.model.keyimport.DeviceKey" >
    <id column="dev_sn" property="devSn" jdbcType="VARCHAR" />
    <result column="device_id" property="deviceId" jdbcType="VARCHAR" />
    <result column="pub_key" property="pubKey" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    dev_sn, device_id, pub_key, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from device_key
    where dev_sn = #{devSn,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from device_key
    where dev_sn = #{devSn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beanpodtech.pkms.common.model.keyimport.DeviceKey" >
    insert into device_key (dev_sn, device_id, pub_key, 
      create_time, update_time)
    values (#{devSn,jdbcType=VARCHAR}, #{deviceId,jdbcType=VARCHAR}, #{pubKey,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.beanpodtech.pkms.common.model.keyimport.DeviceKey" >
    insert into device_key
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="devSn != null" >
        dev_sn,
      </if>
      <if test="deviceId != null" >
        device_id,
      </if>
      <if test="pubKey != null" >
        pub_key,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="devSn != null" >
        #{devSn,jdbcType=VARCHAR},
      </if>
      <if test="deviceId != null" >
        #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="pubKey != null" >
        #{pubKey,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.beanpodtech.pkms.common.model.keyimport.DeviceKey" >
    update device_key
    <set >
      <if test="deviceId != null" >
        device_id = #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="pubKey != null" >
        pub_key = #{pubKey,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where dev_sn = #{devSn,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.beanpodtech.pkms.common.model.keyimport.DeviceKey" >
    update device_key
    set device_id = #{deviceId,jdbcType=VARCHAR},
      pub_key = #{pubKey,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where dev_sn = #{devSn,jdbcType=VARCHAR}
  </update>
</mapper>