<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.beanpodtech.pkms.dbadapter.dao.keyimport.FactorCryoterKeyMapper" >
  <resultMap id="BaseResultMap" type="com.beanpodtech.pkms.common.model.keyimport.FactorCryoterKey" >
    <id column="factor_cryoter_id" property="factorCryoterId" jdbcType="VARCHAR" />
    <result column="modulus" property="modulus" jdbcType="VARCHAR" />
    <result column="exponent" property="exponent" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    factor_cryoter_id, modulus, exponent, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from factor_cryoter_key
    where factor_cryoter_id = #{factorCryoterId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from factor_cryoter_key
    where factor_cryoter_id = #{factorCryoterId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beanpodtech.pkms.common.model.keyimport.FactorCryoterKey" >
    insert into factor_cryoter_key (factor_cryoter_id, modulus, exponent, 
      create_time, update_time)
    values (#{factorCryoterId,jdbcType=VARCHAR}, #{modulus,jdbcType=VARCHAR}, #{exponent,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.beanpodtech.pkms.common.model.keyimport.FactorCryoterKey" >
    insert into factor_cryoter_key
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="factorCryoterId != null" >
        factor_cryoter_id,
      </if>
      <if test="modulus != null" >
        modulus,
      </if>
      <if test="exponent != null" >
        exponent,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="factorCryoterId != null" >
        #{factorCryoterId,jdbcType=VARCHAR},
      </if>
      <if test="modulus != null" >
        #{modulus,jdbcType=VARCHAR},
      </if>
      <if test="exponent != null" >
        #{exponent,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.beanpodtech.pkms.common.model.keyimport.FactorCryoterKey" >
    update factor_cryoter_key
    <set >
      <if test="modulus != null" >
        modulus = #{modulus,jdbcType=VARCHAR},
      </if>
      <if test="exponent != null" >
        exponent = #{exponent,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where factor_cryoter_id = #{factorCryoterId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.beanpodtech.pkms.common.model.keyimport.FactorCryoterKey" >
    update factor_cryoter_key
    set modulus = #{modulus,jdbcType=VARCHAR},
      exponent = #{exponent,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where factor_cryoter_id = #{factorCryoterId,jdbcType=VARCHAR}
  </update>
</mapper>